<mat-toolbar color="primary">
  <span class="logo">Photo Library</span>
  <nav>
    <a mat-button routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: true }">
      Photos
    </a>
    @let count = favStore.count();
    <a
      mat-button
      routerLink="/favorites"
      routerLinkActive="nav-active"
      [routerLinkActiveOptions]="{ exact: true }"
      [matBadge]="count"
      [matBadgeHidden]="count === 0"
      matBadgeColor="warn"
    >
      Favorites
    </a>
  </nav>
</mat-toolbar>
