mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}

.logo {
  font-weight: 500;
  font-size: 1.2rem;
}

nav {
  display: flex;
  gap: 0.5rem;

  a[mat-button] {
    color: var(--mat-sys-on-primary);
  }
}

.nav-active {
  border-bottom: 2px solid var(--mat-sys-on-primary);
  border-radius: 0;
}
