<button type="button" class="card" (click)="cardClicked.emit(photo())" [class.is-favorite]="isFavorite()">
  <img [src]="photo().url" [alt]="'Photo by ' + photo().author" width="200" height="300" loading="lazy" />
  @if (isFavorite()) {
    <mat-icon class="favorite-badge" aria-label="In favorites">favorite</mat-icon>
  }
  <div class="hover-overlay" [class.view-mode]="viewMode() === 'view'">
    <mat-icon class="overlay-icon">{{ viewMode() === 'view' ? 'open_in_new' : 'favorite' }}</mat-icon>
  </div>
</button>
